/* src/components/AboutMe.css */
.about-me-page {
    background-color: rgb(201, 215, 228);
    color: rgb(46, 42, 42);
    text-align: left;
    padding: 60px 20px; /* Adjust the padding as needed */
  }
  
  .topic-section {
    margin: 40px 0;
  }
  
  .topic-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  