/* .about-section {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: antiquewhite;
    background-blend-mode: lighten;
    border-radius: 40px;
    margin: 40px;
   
  }

  .education{

    background: url('./Assets/educationbg.jpg') center/cover no-repeat;
  }
  
  
  .text-content {
    width: 45%; 
    text-align: left;
   
  } */

  .education {
    background-image: url('./Assets/educationbg.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px; /* Adjust padding as needed */
  }
  
  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust column layout as needed */
    gap: 20px; /* Adjust the gap between sections */
    margin-top: 20px; /* Adjust margin between sections as needed */
    background-color: rgb(241, 216, 184, 0.6);
    border-radius: 40px;
    margin: 40px;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-left: 10px;
  }
  
  .image {
    width: 100%; /* Make the image fill its container */
    border-radius: 8px; /* Add border radius for a rounded look */
  }
  
  
  .image {
    
    width: 500px; 
    height: 500px;
    border-radius: 50%; 
    object-fit: cover; 
    
  
  }
  
  img {
    
  }
  