.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
  
  .text-content {
    width: 45%; /* Adjust the width as needed */
    text-align: left;
    margin: 20px;
    padding: 10px;
  }
  
  .image {
    /* width: 1000px;  */
    /* Adjust the width as needed */
    width: 500px; /* Adjust the width to your desired size */
    height: 500px; /* Keep the height equal to maintain a circle */
    border-radius: 50%; /* Set border-radius to 50% to maintain a circle */
    object-fit: cover; /* Adjust object-fit as needed (cover, contain, etc.) */
    margin: 20px;
    padding: 10px;
  
  }
  
  img {
    
  }
  