.project-section {
  font-size: larger;
    color: black;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .project-section > div{
    background: url('./Assets/bg5.jpg') center/cover no-repeat; 
    border: 10px;
    border-radius: 40px;
    height: 1500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .project{
    text-align: center;
    color: rgb(249, 227, 202);
    background: url('./Assets/projectsbg.jpg') center/cover no-repeat;
    margin-top: 0px;
  }
  .pimage {
    
    width: 500px; /* Adjust the width to your desired size */
    height: 500px; /* Keep the height equal to maintain a circle */
    border-radius: 50%; /* Set border-radius to 50% to maintain a circle */
    object-fit: cover; /* Adjust object-fit as needed (cover, contain, etc.) */
    margin: 20px;
    padding: 10px;
  
  }