.skills-section {
  color: black;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 30px;
}
.skills-section > div{
 
  background: url('./Assets/bg7.jpg') center/cover no-repeat;
  border: 10px;
  border-radius: 40px;
  height: 1050px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.skill {
  text-align: center;
  font-size: large;
  color: rgb(38, 33, 60);
  background: url('./Assets/skillsbg.jpg') center/cover no-repeat;
  margin-bottom: 0px;
 
}
.pic{
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  animation: rotate 2s linear infinite; /* Rotate animation */
}
.progress-bar {
  background-color: rgb(44, 67, 120); /* Adjust the color as needed */
  height: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* border-left: 2px solid #000;
  border-right: 2px solid #000; */
  margin-top: 8px;
  color: aliceblue;
}


.value{
 
  float:right
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

img {
  width: 80px; /* Adjust the size as needed */
  height: 80px;
  border-radius: 50%;
  align-items: center;
}

.level-range {
  margin-top: 8px;
}
